<div class="fixed-container">
  <div class="toolbar">
    <div
      class="waves-container"
      data-aos="fade-right"
      data-aos-delay="400"
      data-aos-duration="1200"
    >
      <div class="waves-counter">
        <h1>Total waves:</h1>
        <span class="ms-fill"></span>
        <h1>
          {{ (allWaveMessages ? allWaveMessages.length : 000) | number: "3." }}
        </h1>
      </div>
    </div>
    <span class="ms-fill"></span>
    <div matRipple class="account">
      <ng-container *ngIf="currentAccount; else connect">
        <div class="connected">
          <mat-icon>lock</mat-icon>
          <span>{{ currentAccount | slice: 0:10 }}...</span>
        </div>
      </ng-container>
      <ng-template #connect>
        <div class="connect-wallet" (click)="connectWallet()">
          <mat-icon>key</mat-icon>
          <span>Connect wallet</span>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<div
  class="container"
  [ngClass]="isMobile ? 'container--mobile' : 'container--desktop'"
>
  <div class="mainContainer">
    <div class="dataContainer">
      <h1
        class="header"
        data-aos="fade-down"
        data-aos-delay="100"
        data-aos-duration="1200"
      >
        👋 <span class="fancy">Hey there!</span>
      </h1>

      <div
        class="bio"
        data-aos="fade-down"
        data-aos-delay="200"
        data-aos-duration="1200"
      >
        I'm Gustavo, a big fan of everything related to space 🚀, software 👨🏻‍💻
        and robotics 🤖. I currently run a small software company, to which I
        give all my heart to grow and have many amazing people working on cool
        projects that made an impact.
      </div>

      <div
        class="message-input"
        data-aos="fade-up"
        data-aos-delay="300"
        data-aos-duration="1200"
      >
        <mat-form-field appearance="outline">
          <textarea
            matInput
            [formControl]="messageControl"
            rows="5"
            placeholder="✍🏻 Drop me a message. You will receive 0.00045 ETH, if you are lucky 💎"
            autocomplete="off"
          ></textarea>
        </mat-form-field>
      </div>

      <div
        data-aos="fade-up"
        data-aos-delay="300"
        data-aos-duration="1200"
        style="width: 100%"
      >
        <button mat-raised-button class="waveButton" (click)="wave()">
          Wave at Me
        </button>
      </div>
    </div>
  </div>

  <div
    class="waves-messages-container"
    *ngIf="allWaveMessages"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <div class="waves-title">
      <h1>Messages</h1>
    </div>
    <div class="waves-messages-flex">
      <div
        class="message"
        *ngFor="let message of allWaveMessages"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <div class="message-header">
          <div class="message-date">
            {{ message.date | date: "dd/MM/yyyy" }} -
            <span
              ><small>{{ message.date | date: "hh:mm a" }}</small></span
            >
          </div>
          <div
            class="diamond"
            *ngIf="message.winner"
            matTooltip="🌟 Here's a lucky guy"
            matTooltipPoisition="below"
          >
            <img src="../assets/images/diamond.png" alt="diamond" />
          </div>
        </div>
        <div class="message-content mat-elevation-z4">
          <div class="message-content-header">
            <div class="message-content-header-address">
              {{ message.waver }}
            </div>
          </div>
          <div class="message-content-body">
            <strong> Message: </strong> {{ message.message }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
